
body {
    background-color: #75be86;
  }

div.container1{
    display:flex;
}

div.Pokebowl {
    
    justify-content: flex-start;
    align-items: center;
    height: auto;
    width: 600px;
    background-color: #5d322f;
    margin-left: 20px;
    margin-bottom: 10em; 
    color:#e0e0e0;
    
    border: 4px solid #5d322f;
    border-radius: 10px; 
    background-image: url('https://static.vecteezy.com/system/resources/thumbnails/001/893/854/small/stripes-fabric-textile-pattern-free-vector.png'); 
    background-size: 42%; 
    box-shadow: 8px 2px 7px #6e5250;
}

div.MyPokebowl {
    justify-content: flex-start;
    align-items: center;
    height: auto;
    width: 600px;
    background-color: #5d322f;
    margin-left: 40%;
    margin-right: 20px;
    margin-bottom: 10em; 
    color:#e0e0e0;
    
    border: 4px solid #5d322f;
    border-radius: 10px; 
    background-image: url('https://static.vecteezy.com/system/resources/thumbnails/001/893/854/small/stripes-fabric-textile-pattern-free-vector.png'); 
    background-size: 42%; 
    box-shadow: -8px 2px 7px #6e5250;
}



div.Pokebowl img:hover{
    transform: scale(1.1);
}

div.choix {
    text-align: center;
    padding-top: 10px;
    margin-bottom: 20px;
} 

#saumon {
    display: block;
    margin: auto;
    width:auto;
    height:100px;
}

#thon {
    display: block;
    margin: auto;
    width:auto;
    height:120px;
}

#poulpe {
    display: block;
    margin: auto;
    width:auto;
    height:100px;
}

#concombre {
    display: block;
    margin: auto;
    width:auto;
    height:170px;
}

#avocat {
    display: block;
    margin: auto;
    width:auto;
    height:150px;
}

#chou {
    display: block;
    margin: auto;
    width:auto;
    height:150px;
}

#carotte {
    display: block;
    margin: auto;
    width:auto;
    height:170px;
}

#mangue {
    display: block;
    margin: auto;
    width:auto;
    height:120px;
}

#ananas {
    display: block;
    margin: auto;
    width:auto;
    height:150px;
}

#kiwi {
    display: block;
    margin: auto;
    width:auto;
    height:150px;
}

#bowl {
    display: block;
    margin: auto;
    width:auto;
    height:150px;
}