div.fibo {
  background-color: black;
  color: white;
  border: 0.8em: outset green;
  width: 40em;
  height: 8em;
  margin-left : 5em;
  margin-right : 5em;
  margin-top : 3em;
  position: relative;
  text-align:center;
  font-family: ui-serif;
}
