

h2 {
  background-color: rgb(31, 48, 122);
}

body {
  background-image:url('bg2.jpg');
}

img:hover {
    -webkit-transform:scale(1.5); /* or some other value */
    transform:scale(1.5);
}

.hack {
  background-color: rgb(26, 26, 26);
  color:rgb(184, 184, 184);
  display: flex; height: 10vh; align-items: center; justify-content: center;

}